body {
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 16px;
  font-family: "Helvetica", arial;
  -webkit-font-smoothing: antialiased; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  background: #f0e9dd;
  display: table; }

#viewport {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

img {
  width: 21%;
  max-width: 300px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); }

@media screen and (max-width: 580px) {
  img {
    width: 44.5%; } }
.preserve3d #viewport {
  text-align: left;
  -webkit-perspective: 500px;
  perspective: 500px; }

.preserve3d #toptier, .preserve3d #bottomtier {
  width: 300px;
  height: 169px;
  background: url("images/parent.png");
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.preserve3d img {
  position: absolute;
  width: 300px;
  margin: 0;
  opacity: .7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.preserve3d #toptier {
  position: absolute;
  margin: 0 auto 40px auto;
  -webkit-transform: translateY(-250px) rotateY(0deg);
  -moz-transform: translateY(-250px) rotateY(0deg);
  -ms-transform: translateY(-250px) rotateY(0deg);
  transform: translateY(-250px) rotateY(0deg); }

.preserve3d #pic1 {
  -webkit-transform: translateZ(160px);
  -moz-transform: translateZ(160px);
  -ms-transform: translateZ(160px);
  transform: translateZ(160px); }

.preserve3d #pic2 {
  -webkit-transform: translateX(160px) rotateY(90deg);
  -moz-transform: translateX(160px) rotateY(90deg);
  -ms-transform: translateX(160px) rotateY(90deg);
  transform: translateX(160px) rotateY(90deg); }

.preserve3d #pic3 {
  -webkit-transform: translateZ(-160px) rotateY(180deg);
  -moz-transform: translateZ(-160px) rotateY(180deg);
  -ms-transform: translateZ(-160px) rotateY(180deg);
  transform: translateZ(-160px) rotateY(180deg); }

.preserve3d #pic4 {
  -webkit-transform: translateX(-160px) rotateY(-90deg);
  -moz-transform: translateX(-160px) rotateY(-90deg);
  -ms-transform: translateX(-160px) rotateY(-90deg);
  transform: translateX(-160px) rotateY(-90deg); }

.preserve3d #bottomtier {
  margin: 200px auto 0 auto;
  -webkit-transform: translateZ(-280px) rotateY(0deg);
  -moz-transform: translateZ(-280px) rotateY(0deg);
  -ms-transform: translateZ(-280px) rotateY(0deg);
  transform: translateZ(-280px) rotateY(0deg); }

.preserve3d #pic5 {
  -webkit-transform: translateZ(280px);
  -moz-transform: translateZ(280px);
  -ms-transform: translateZ(280px);
  transform: translateZ(280px); }

.preserve3d #pic6 {
  -webkit-transform: translateX(280px) rotateY(90deg);
  -moz-transform: translateX(280px) rotateY(90deg);
  -ms-transform: translateX(280px) rotateY(90deg);
  transform: translateX(280px) rotateY(90deg); }

.preserve3d #pic7 {
  -webkit-transform: translateZ(-280px) rotateY(180deg);
  -moz-transform: translateZ(-280px) rotateY(180deg);
  -ms-transform: translateZ(-280px) rotateY(180deg);
  transform: translateZ(-280px) rotateY(180deg); }

.preserve3d #pic8 {
  -webkit-transform: translateX(-280px) rotateY(-90deg);
  -moz-transform: translateX(-280px) rotateY(-90deg);
  -ms-transform: translateX(-280px) rotateY(-90deg);
  transform: translateX(-280px) rotateY(-90deg); }

@-webkit-keyframes rotateBottom {
  100% {
    -webkit-transform: translateZ(-280px) rotateY(360deg);
    -moz-transform: translateZ(-280px) rotateY(360deg);
    -ms-transform: translateZ(-280px) rotateY(360deg);
    transform: translateZ(-280px) rotateY(360deg); } }

@-moz-keyframes rotateBottom {
  100% {
    -webkit-transform: translateZ(-280px) rotateY(360deg);
    -moz-transform: translateZ(-280px) rotateY(360deg);
    -ms-transform: translateZ(-280px) rotateY(360deg);
    transform: translateZ(-280px) rotateY(360deg); } }

@-ms-keyframes rotateBottom {
  100% {
    -webkit-transform: translateZ(-280px) rotateY(360deg);
    -moz-transform: translateZ(-280px) rotateY(360deg);
    -ms-transform: translateZ(-280px) rotateY(360deg);
    transform: translateZ(-280px) rotateY(360deg); } }

@keyframes rotateBottom {
  100% {
    -webkit-transform: translateZ(-280px) rotateY(360deg);
    -moz-transform: translateZ(-280px) rotateY(360deg);
    -ms-transform: translateZ(-280px) rotateY(360deg);
    transform: translateZ(-280px) rotateY(360deg); } }

.preserve3d #bottomtier {
  -webkit-animation: rotateBottom 2s infinite linear;
  -moz-animation: rotateBottom 2s infinite linear;
  animation: rotateBottom 2s infinite linear; }

@-webkit-keyframes rotateTop {
  100% {
    -webkit-transform: translateY(-250px) rotateY(360deg);
    -moz-transform: translateY(-250px) rotateY(360deg);
    -ms-transform: translateY(-250px) rotateY(360deg);
    transform: translateY(-250px) rotateY(360deg); } }

@-moz-keyframes rotateTop {
  100% {
    -webkit-transform: translateY(-250px) rotateY(360deg);
    -moz-transform: translateY(-250px) rotateY(360deg);
    -ms-transform: translateY(-250px) rotateY(360deg);
    transform: translateY(-250px) rotateY(360deg); } }

@-ms-keyframes rotateTop {
  100% {
    -webkit-transform: translateY(-250px) rotateY(360deg);
    -moz-transform: translateY(-250px) rotateY(360deg);
    -ms-transform: translateY(-250px) rotateY(360deg);
    transform: translateY(-250px) rotateY(360deg); } }

@keyframes rotateTop {
  100% {
    -webkit-transform: translateY(-250px) rotateY(360deg);
    -moz-transform: translateY(-250px) rotateY(360deg);
    -ms-transform: translateY(-250px) rotateY(360deg);
    transform: translateY(-250px) rotateY(360deg); } }

.preserve3d #toptier {
  -webkit-animation: rotateTop 2s infinite linear;
  -moz-animation: rotateTop 2s infinite linear;
  animation: rotateTop 2s infinite linear; }
